{% extends 'navbar.html' %}
{% block content %}
{% load static %}

<link href="{% static 'css/home.css' %}" rel="stylesheet">
<style>
        body{
            color : skyblue;
            margin : 27px;
            padding : 92px;
        }
        .nav-item {
            color : skyblue;
            margin : 0px;
            padding : 2px;
        }
        .navbar-brand{
            color : red;
            margin : 1px;
            padding : 10px;

    </style>
<h2> Hi Welcome to Home Page </h2>
{% endblock %}

